 <%= stylesheet_link_tag 'popup', :plugin => 'hello' %>
 <%= javascript_include_tag 'css-pop', :plugin => 'hello' %>
 <div id="blanket" style="display:none;"></div>
	<div id="popUpDiv" style="display:none;">
    
    	<a href="#" onclick="popup('popUpDiv')" >Click to Close CSS Pop Up</a>
    	<iframe src="https://der.itj.jp/login.php" width="347" height="568"></iframe>
	</div>	
  <a href="#" onclick="popup('popUpDiv')">Click to Open CSS Pop Up</a>

