  <%= stylesheet_link_tag 'polls', :plugin => 'hello' %>
  <%= stylesheet_link_tag 'popup', :plugin => 'hello' %>
  <%= javascript_include_tag 'css-pop', :plugin => 'hello' %>
 <div id="blanket" style="display:none;"></div>
<div id="info">
    <span class="notifi"> Calling from 0983725667...</span>
    <input onclick="popup('popUpDiv')" class="apcept" type="button" name="apcept" value="apcept">
    <input class="cancel" type="button" name="cancel" value="cancel">
  </div>